main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .imagen1-main {
    width: 100%;
    height: auto;
    order: 1;
    
    img {
      width: 100%;
      height: 620px;
    }
  }
  
  .imagen2-main {
    width: 33.3%;
    height: auto;
    order: 3;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .main-importante {
    width: 66.6%;
    order: 2;
  }
  .titulo-main{
    text-align: center;
    font-family: $fuente-titulos;
    font-size: 50px;
    padding-bottom: 20px;
  }
  parrafo-main{
    text-align: center;
    padding-bottom: 40px;
    background-color:$color-principal;

    font-family: $fuente-texto;
  }
  
  @media (max-width: 768px) {
    .imagen2-main {
      width: 100%;
    }
    
    .main-importante {
      width: 100%;
    }
  }
  